discordia.log
newsRU.txt
newsEN.txt
adsRU.txt
adsEN.txt
autoreboot.bat
scripts/3-Tags/server/*.txt
!scripts/3-Tags/server/readme.txt
scripts/22-Help/client/1-Rules.lua
scripts/22-Help/client/7-Sponsors.lua